/* Styles for storybook docs or anything else in the 'preview' frame go here */

.sbdocs-a {
    color: #0d47a1 !important;
    text-decoration: underline !important;
}
a.sbdocs-a:visited {
    color: #551a8b !important;
}
.sbdocs-expandable {
    color: #004d40 !important; /* teal800 */
}
