name: 'dhis2: verify (lib)'

on:
    push:
    pull_request:
        types: [labeled]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}

env:
    GIT_AUTHOR_NAME: '@dhis2-bot'
    GIT_AUTHOR_EMAIL: 'apps@dhis2.org'
    GIT_COMMITTER_NAME: '@dhis2-bot'
    GIT_COMMITTER_EMAIL: 'apps@dhis2.org'
    NPM_TOKEN: ${{ secrets.DHIS2_BOT_NPM_TOKEN }}
    GH_TOKEN: ${{ secrets.DHIS2_BOT_GITHUB_TOKEN }}
    D2_VERBOSE: true

jobs:
    setup-matrix:
        runs-on: ubuntu-latest
        outputs:
            matrix: ${{ steps.set-matrix.outputs.specs }}
        steps:
            - uses: actions/checkout@v3
            - name: Generate test matrix
              id: set-matrix
              run: |
                  node cypress/support/generateTestMatrix.js > matrix.json
                  echo "::set-output name=specs::$(cat matrix.json)"

    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 20.x

            - uses: c-hive/gha-yarn-cache@v1
            - run: |
                  yarn install --frozen-lockfile
                  NODE_OPTIONS=--openssl-legacy-provider yarn setup

            - name: Build
              run: yarn build:legacy

            - run: ./scripts/create-artifact.sh

            - uses: actions/upload-artifact@v2
              with:
                  name: lib-build
                  path: lib-build.tar
                  retention-days: 1

    lint:
        needs: [build]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 20.x

            - uses: actions/download-artifact@v2
              with:
                  name: lib-build

            - run: ./scripts/extract-artifact.sh

            - uses: c-hive/gha-yarn-cache@v1
            - run: yarn install --frozen-lockfile

            - name: Lint
              run: yarn lint

    test:
        runs-on: ubuntu-latest
        needs: [build]
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v1
              with:
                  node-version: 20.x

            - uses: actions/download-artifact@v2
              with:
                  name: lib-build

            - run: ./scripts/extract-artifact.sh

            - uses: c-hive/gha-yarn-cache@v1
            - run: yarn install --frozen-lockfile

            - name: Test
              run: yarn test

    e2e:
        runs-on: ubuntu-latest
        if: "!github.event.push.repository.fork && github.actor != 'dependabot[bot]'"
        needs: [build, setup-matrix]

        strategy:
            fail-fast: false
            matrix:
                spec-group: ${{ fromJson(needs.setup-matrix.outputs.matrix) }}
        env:
            SHOULD_RECORD: ${{ contains(github.event.head_commit.message, '[e2e record]') || contains(join(github.event.pull_request.labels.*.name), 'e2e record') }}

        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - uses: actions/setup-node@v1
              with:
                  node-version: 20.x

            - uses: actions/download-artifact@v2
              with:
                  name: lib-build

            - run: ./scripts/extract-artifact.sh

            - name: Increase FS watchers
              run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

            - name: End-to-End tests
              uses: cypress-io/github-action@v6
              with:
                  start: 'yarn cy:start:legacy'
                  wait-on: 'http://localhost:5000'
                  wait-on-timeout: 300
                  record: ${{ env.SHOULD_RECORD == 'true' }}
                  parallel: ${{ env.SHOULD_RECORD == 'true'}}
                  group: e2e-${{ matrix.spec-group.id }}
                  tag: ${{ env.SHOULD_RECORD == 'true' && github.event_name || '' }}
                  ci-build-id: ${{ env.SHOULD_RECORD == 'true' && github.run_id || '' }}
                  spec: ${{ join(matrix.spec-group.tests, ',') }}
              env:
                  BROWSER: none
                  COMMIT_INFO_MESSAGE: ${{ github.event.pull_request.title }}
                  CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  STORYBOOK_TESTING: true

    publish:
        runs-on: ubuntu-latest
        needs: [build, lint, test, e2e]
        if: "!github.event.push.repository.fork && github.actor != 'dependabot[bot]'"
        steps:
            - uses: actions/checkout@v2
              with:
                  token: ${{ env.GH_TOKEN }}
            - uses: actions/setup-node@v3
              with:
                  node-version: 20.x
                  cache: 'yarn'

            - uses: actions/download-artifact@v2
              with:
                  name: lib-build

            - run: ./scripts/extract-artifact.sh

            # ensure that d2-app-scripts is available
            - run: yarn install --frozen-lockfile

            # FIXME: Add legacy npm to allow our broken peerdeps for now.
            # This should be addressed properly by fixing our peerdeps.
            - run: npm i -g npm@6
            - uses: dhis2/action-semantic-release@master
              with:
                  publish-npm: true
                  publish-github: true
                  github-token: ${{ env.GH_TOKEN }}
                  npm-token: ${{ env.NPM_TOKEN }}
